{% load compress %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOG</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css'%}" />
    {% endcompress %}
  </head>
  <body>
    <div class="container">
      <h1 class="text-6xl font-bold font-serif bg-black">BLOG</h1>
      <div class="w-100 h-48 bg-red"></div>
    </div>
  </body>
</html>
